<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Filter Numbers </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Filter Numbers</ion-title>
    </ion-toolbar>
  </ion-header>
  <p style="width:100%; text-align: center">
    The value is "{{ionInputValue}}"
  </p>
<div style="height:60vh"></div>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Enter a Number</ion-label>
      <ion-input [(ngModel)]="ionInputValue" inputmode="numeric" appNumbersOnly></ion-input>
    </ion-item>    
    <ion-item>

    </ion-item>
  </ion-list>  

</ion-content>
